<div class="container">
    <div class="title">Variadle</div>

    <div class="main">
        <div class="try-container" *ngFor="let try of tries" #tryContainer>
            <div class="word-len-msg-container">
                {{try.tryMsg}}
            </div>
            <!-- <div class="word-container"> -->
            <div class="letter-container" *ngFor="let letter of try.letters"
                [class.correct]="letter.state === LetterState.CORRECT"
                [class.partial]="letter.state === LetterState.PARTIAL_MATCH"
                [class.wrong]="letter.state === LetterState.WRONG" [class.has-text]="letter.text !== ''">
                {{letter.text}}
            </div>
            <!-- </div> -->
        </div>
    </div>

    <div class="keyboard-container">keyboard</div>

    <div class="info-msg" [class.show]="infoMsg !== ''" [class.fade-out]="fadeOutInfoMsg">
        {{infoMsg}}
    </div>
</div>